<form class="" action="/records/<%=record._id%>?_method=put" method="post">
  <h4>Physical Details</h4>
  Physical Condition:
  <input type='text' name='physical[condition]' value='<%=record.physical.condition%>'> </input>
  <br/>
  Quantity:
  <input type='text' name='physical[quantity]' value='<%=record.physical.quantity%>'></input>
  <br/>
  Diameter in Inches:
  <input type='text' name='physical[size]' value='<%=record.physical.size%>'></input>
  <br/>
  Year Pressed:
  <input type='text' name='physical[yearPressed]' value='<%=record.physical.yearPressed%>'></input>
  <br/>
  Die Cut Shape:
  <input type='text' name='physical[dieCutShape]' value='<%=record.physical.dieCutShape%>'></input>
  <br/>
  Audiofile Features:
  <input type='text' name='physical[audiofileFeatures]' value='<%=record.physical.audiofileFeatures%>'></input>
  <br/>
  RPM Speed:
  <input type='text' name='physical[rpmSpeed]' value='<%=record.physical.rpmSpeed%>'></input>
  <br/>
  Hole Configuration:
  <input type='text' name='physical[holeConfiguration]' value='<%=record.physical.holeConfiguration%>'></input>
  <br/>
  Production Run at Release:
  <input type='text' name='physical[productionRun]' value='<%=record.physical.productionRun%>'></input>
  <br/>
  Where Pressed:
  <input type='text' name='physical[wherePressed]' value='<%=record.physical.wherePressed%>'></input>
  <br/>
  Where Released:
  <input type='text' name='physical[whereReleased]' value='<%=record.physical.whereReleased%>'></input>
  <br/>
  <br/>
  <h4>Artist Details</h4>
  Lead Artist(s):
  <input type='text' name='artist[leadArtists]' value='<%=record.artist.leadArtists%>'></input>
  <br/>
  Band Member(s):
  <input type='text' name='artist[bandMembers]' value='<%=record.artist.bandMembers%>'></input>
  <br/>
  Studio Musician(s):
  <input type='text' name='artist[studioMusicians]' value='<%=record.artist.studioMusicians%>'></input>
  <br/>
  Songwriter(s):
  <input type='text' name='artist[songwriters]' value='<%=record.artist.songwriters%>'></input>
  <br/>
  Movie Cast:
  <input type='text' name='artist[movieCast]' value='<%=record.artist.movieCast%>'></input>
  <br/>
  <br/>
  <h4>Music Details</h4>
  Tracks:
  <input type='text' name='music[tracks]' value='<%=record.music.tracks%>'></input>
  <br/>
  Year Recorded:
  <input type='text' name='music[yearRecorded]' value='<%=record.music.yearRecorded%>'></input>
  <br/>
  Language:
  <input type='text' name='music[language]' value='<%=record.music.language%>'></input>
  <br/>
  Copyright Holder:
  <input type='text' name='music[copyrightHolder]' value='<%=record.music.copyrightHolder%>'></input>
  <br/>
  Year of Copyright:
  <input type='text' name='music[yearOfCopyright]' value='<%=record.music.yearOfCopyright%>'></input>
  <br/>
  Studio:
  <input type='text' name='music[studio]' value='<%=record.music.studio%>'></input>
  <br/>
  Producer:
  <input type='text' name='music[producer]' value='<%=record.music.producer%>'></input>
  <br/>
  <br/>
  <h4>Album Art</h4>
  Album Cover Photo:
  <input type='text' name='art[photo]' value='<%=record.art.photo%>'></input>
  <br/>
  Color or Black and White:
  <input type='text' name='art[colorBW]' value='<%=record.art.colorBW%>'></input>
  <br/>
  Art Theme:
  <input type='text' name='art[artTheme]' value='<%=record.art.artTheme%>'></input>
  <br/>
  Artist(s):
  <input type='text' name='art[artists]' value='<%=record.art.artists%>'></input>
  <br/>
  Size:
  <input type='text' name='art[size]' value='<%=record.art.size%>'></input>
  <br/>
  Die Cut:
  <input type='text' name='art[dieCut]' value='<%=record.art.dieCut%>'></input>
  <br/>
  Shape:
  <input type='text' name='art[shape]' value='<%=record.art.shape%>'></input>
  <br/>
  Objects Inside:
  <input type='text' name='art[objectsInside]' value='<%=record.art.objectsInside%>'></input>
  <br/>
  Mistakes:
  <input type='text' name='art[mistakes]' value='<%=record.art.mistakes%>'></input>
  <br/>
  Color Theme:
  <input type='text' name='art[colorTheme]' value='<%=record.art.colorTheme%>'></input>
  <br/>
  Cover Condition:
  <input type='text' name='art[coverCondition]' value='<%=record.art.coverCondition%>'></input>
  <br/>
  <br/>
  <h4>Other Details</h4>
  Genre:
  <input type='text' name='record[genre]' value='<%=record.genre%>'></input>
  <br/>
  Use:
  <input type='text' name='record[use]' value='<%=record.use%>'></input>
  <br/>
  Last Price:
  <input type='text' name='record[lastPrice]' value='<%=record.lastPrice%>'></input>
  <br/>
  Notes:
  <textarea type='text' name='record[notes]' value='<%=record.notes%>'></textarea>
  <br/>
  <br/>
  <button type="sumbit" name="button">Submit Changes</button>
</form>