<form class="" action="/records/<%=record._id%>?_method=put" method="post">
  <h4>Physical Details</h4>
  <div class='input-field'>
  Physical Condition:
  <input id="physicalCondition" name='condition' type="text" value='<%=record.condition%>' />
  </div>
  <br/>
  Quantity:
  <input type='number' name='quantity' value='<%=record.quantity%>' />
  <br/>
  Diameter in Inches:
  <input type='number' name='size' value='<%=record.sizeDia%>' />
  <br/>
  Year Pressed:
  <input type='number' name='yearPressed' value='<%=record.yearPressed%>' />
  <br/>
  Die Cut Shape:
  <input type='text' name='dieCutShape' value='<%=record.dieCutShape%>' />
  <br/>
  Audiofile Features:
  <input type='text' name='audiofileFeatures' value='<%=record.audiofileFeatures%>' />
  <br/>
  RPM Speed:
  <input type='number' name='rpmSpeed' value='<%=record.rpmSpeed%>' />
  <br/>
  Hole Configuration:
  <input type='text' name='holeConfiguration' value='<%=record.holeConfiguration%>' />
  <br/>
  Production Run at Release:
  <input type='text' name='productionRun' value='<%=record.productionRun%>' />
  <br/>
  Where Pressed:
  <input type='text' name='wherePressed' value='<%=record.wherePressed%>' />
  <br/>
  Where Released:
  <input type='text' name='whereReleased' value='<%=record.whereReleased%>' />
  <br/>
  <br/>
  <h4>Artist Details</h4>
  Lead Artist(s):
  <input type='text' name='leadArtists' value='<%=record.leadArtists%>' />
  <br/>
  Band Member(s):
  <input type='text' name='bandMembers' value='<%=record.bandMembers%>' />
  <br/>
  Studio Musician(s):
  <input type='text' name='studioMusicians' value='<%=record.studioMusicians%>' />
  <br/>
  Songwriter(s):
  <input type='text' name='songwriters' value='<%=record.songwriters%>' />
  <br/>
  Movie Cast:
  <input type='text' name='movieCast' value='<%=record.movieCast%>' />
  <br/>
  <br/>
  <h4>Music Details</h4>
  Tracks:
  <input type='text' name='tracks' value='<%=record.tracks%>' />
  <br/>
  Year Recorded:
  <input type='number' name='yearRecorded' value='<%=record.yearRecorded%>' />
  <br/>
  Language:
  <input type='text' name='language' value='<%=record.language%>' />
  <br/>
  Copyright Holder:
  <input type='text' name='copyrightHolder' value='<%=record.copyrightHolder%>' />
  <br/>
  Year of Copyright:
  <input type='number' name='yearOfCopyright' value='<%=record.yearOfCopyright%>' />
  <br/>
  Studio:
  <input type='text' name='studio' value='<%=record.studio%>' />
  <br/>
  Producer:
  <input type='text' name='producer' value='<%=record.producer%>' />
  <br/>
  <br/>
  <h4>Album Art</h4>
  Album Cover Photo:
  <input type='text' name='photo' value='<%=record.photo%>' />
  <br/>
  Color or Black and White:
  <input type='text' name='colorBW' value='<%=record.colorBW%>' />
  <br/>
  Art Theme:
  <input type='text' name='artTheme' value='<%=record.artTheme%>' />
  <br/>
  Artist(s):
  <input type='text' name='artists' value='<%=record.artists%>' />
  <br/>
  Size:
  <input type='text' name='size' value='<%=record.size%>' />
  <br/>
  Die Cut:
  <input type='text' name='dieCut' value='<%=record.dieCut%>' />
  <br/>
  Shape:
  <input type='text' name='shape' value='<%=record.shape%>' />
  <br/>
  Objects Inside:
  <input type='text' name='objectsInside' value='<%=record.objectsInside%>' />
  <br/>
  Mistakes:
  <input type='text' name='mistakes' value='<%=record.mistakes%>' />
  <br/>
  Color Theme:
  <input type='text' name='colorTheme' value='<%=record.colorTheme%>' />
  <br/>
  Cover Condition:
  <input type='text' name='coverCondition' value='<%=record.coverCondition%>' />
  <br/>
  <br/>
  <h4>Other Details</h4>
  Genre:
  <input type='text' name='genre' value='<%=record.genre%>' />
  <br/>
  Use:
  <input type='text' name='use' value='<%=record.use%>' />
  <br/>
  Last Price:
  <input type='text' name='lastPrice' value='<%=record.lastPrice%>' />
  <br/>
  <% if ( record.available  === true) { %>
    Available:
    <input type='radio' name='available' value='true' id='availableTrue' checked /><label for='availableTrue'>Yes</label>
    <input type='radio' name='available' value='false' id='availableFalse'/><label for='availableFalse'>No</label>
    <br/>
  <% } else { %>
    Available:
    <input type='radio' name='available' value='true' id='availableTrue' /><label for='availableTrue'>Yes</label>
    <input type='radio' name='available' value='false' id='availableFalse' checked/><label for='availableFalse'>No</label>
    <br/>
  <% } %>

  <% if (record.forSale === true) { %>
    For Sale:
    <input type='radio' name='forSale' value='true' id='forSaleTrue' checked/><label for='forSaleTrue'>Yes</label>
    <input type='radio' name='forSale' value='false' id='forSaleFalse'/><label for='forSaleFalse'>No</label>
    <br/>
  <% } else { %>
    For Sale:
    <input type='radio' name='forSale' value='true' id='forSaleTrue' /><label for='forSaleTrue'>Yes</label>
    <input type='radio' name='forSale' value='false' id='forSaleFalse' checked/><label for='forSaleFalse'>No</label>
    <br/>
  <% } %>
  <br/>
  <div class='input-field'>
  Notes:
    <textarea id="textareaNotes" class="materialize-textarea" name='notes'> <%=record.notes%></textarea>
  </div>
  <br/>
  <br/>
  <button type="sumbit" name="button">Submit Changes</button>
</form>