<form class="" action="/records/<%=record._id%>?_method=put" method="post">
  <h4>Physical Details</h4>
  Physical Condition:
  <input type='text' name='physical[condition]' value='<%=record.physical.condition%>' />
  <br/>
  Quantity:
  <input type='text' name='physical[quantity]' value='<%=record.physical.quantity%>' />
  <br/>
  Diameter in Inches:
  <input type='text' name='physical[size]' value='<%=record.physical.size%>' />
  <br/>
  Year Pressed:
  <input type='text' name='physical[yearPressed]' value='<%=record.physical.yearPressed%>' />
  <br/>
  Die Cut Shape:
  <input type='text' name='physical[dieCutShape]' value='<%=record.physical.dieCutShape%>' />
  <br/>
  Audiofile Features:
  <input type='text' name='physical[audiofileFeatures]' value='<%=record.physical.audiofileFeatures%>' />
  <br/>
  RPM Speed:
  <input type='text' name='physical[rpmSpeed]' value='<%=record.physical.rpmSpeed%>' />
  <br/>
  Hole Configuration:
  <input type='text' name='physical[holeConfiguration]' value='<%=record.physical.holeConfiguration%>' />
  <br/>
  Production Run at Release:
  <input type='text' name='physical[productionRun]' value='<%=record.physical.productionRun%>' />
  <br/>
  Where Pressed:
  <input type='text' name='physical[wherePressed]' value='<%=record.physical.wherePressed%>' />
  <br/>
  Where Released:
  <input type='text' name='physical[whereReleased]' value='<%=record.physical.whereReleased%>' />
  <br/>
  <br/>
  <h4>Artist Details</h4>
  Lead Artist(s):
  <input type='text' name='artist[leadArtists]' value='<%=record.artist.leadArtists%>' />
  <br/>
  Band Member(s):
  <input type='text' name='artist[bandMembers]' value='<%=record.artist.bandMembers%>' />
  <br/>
  Studio Musician(s):
  <input type='text' name='artist[studioMusicians]' value='<%=record.artist.studioMusicians%>' />
  <br/>
  Songwriter(s):
  <input type='text' name='artist[songwriters]' value='<%=record.artist.songwriters%>' />
  <br/>
  Movie Cast:
  <input type='text' name='artist[movieCast]' value='<%=record.artist.movieCast%>' />
  <br/>
  <br/>
  <h4>Music Details</h4>
  Tracks:
  <input type='text' name='music[tracks]' value='<%=record.music.tracks%>' />
  <br/>
  Year Recorded:
  <input type='text' name='music[yearRecorded]' value='<%=record.music.yearRecorded%>' />
  <br/>
  Language:
  <input type='text' name='music[language]' value='<%=record.music.language%>' />
  <br/>
  Copyright Holder:
  <input type='text' name='music[copyrightHolder]' value='<%=record.music.copyrightHolder%>' />
  <br/>
  Year of Copyright:
  <input type='text' name='music[yearOfCopyright]' value='<%=record.music.yearOfCopyright%>' />
  <br/>
  Studio:
  <input type='text' name='music[studio]' value='<%=record.music.studio%>' />
  <br/>
  Producer:
  <input type='text' name='music[producer]' value='<%=record.music.producer%>' />
  <br/>
  <br/>
  <h4>Album Art</h4>
  Album Cover Photo:
  <input type='text' name='art[photo]' value='<%=record.art.photo%>' />
  <br/>
  Color or Black and White:
  <input type='text' name='art[colorBW]' value='<%=record.art.colorBW%>' />
  <br/>
  Art Theme:
  <input type='text' name='art[artTheme]' value='<%=record.art.artTheme%>' />
  <br/>
  Artist(s):
  <input type='text' name='art[artists]' value='<%=record.art.artists%>' />
  <br/>
  Size:
  <input type='text' name='art[size]' value='<%=record.art.size%>' />
  <br/>
  Die Cut:
  <input type='text' name='art[dieCut]' value='<%=record.art.dieCut%>' />
  <br/>
  Shape:
  <input type='text' name='art[shape]' value='<%=record.art.shape%>' />
  <br/>
  Objects Inside:
  <input type='text' name='art[objectsInside]' value='<%=record.art.objectsInside%>' />
  <br/>
  Mistakes:
  <input type='text' name='art[mistakes]' value='<%=record.art.mistakes%>' />
  <br/>
  Color Theme:
  <input type='text' name='art[colorTheme]' value='<%=record.art.colorTheme%>' />
  <br/>
  Cover Condition:
  <input type='text' name='art[coverCondition]' value='<%=record.art.coverCondition%>' />
  <br/>
  <br/>
  <h4>Other Details</h4>
  Genre:
  <input type='text' name='record[genre]' value='<%=record.genre%>' />
  <br/>
  Use:
  <input type='text' name='record[use]' value='<%=record.use%>' />
  <br/>
  Last Price:
  <input type='text' name='record[lastPrice]' value='<%=record.lastPrice%>' />
  <br/>
  <% if ( record.available  === true) { %>
    Available:
    <input type='radio' name='record[available]' value='true' id='availableTrue' checked /><label for='availableTrue'>Yes</label>
    <input type='radio' name='record[available]' value='false' id='availableFalse'/><label for='availableFalse'>No</label>
    <br/>
  <% } else { %>
    Available:
    <input type='radio' name='record[available]' value='true' id='availableTrue' /><label for='availableTrue'>Yes</label>
    <input type='radio' name='record[available]' value='false' id='availableFalse' checked/><label for='availableFalse'>No</label>
    <br/>
  <% } %>

  <% if (record.forSale === true) { %>
    For Sale:
    <input type='radio' name='record[forSale]' value='true' id='forSaleTrue' checked/><label for='forSaleTrue'>Yes</label>
    <input type='radio' name='record[forSale]' value='false' id='forSaleFalse'/><label for='forSaleFalse'>No</label>
    <br/>
  <% } else { %>
    For Sale:
    <input type='radio' name='record[forSale]' value='true' id='forSaleTrue' /><label for='forSaleTrue'>Yes</label>
    <input type='radio' name='record[forSale]' value='false' id='forSaleFalse' checked/><label for='forSaleFalse'>No</label>
    <br/>
  <% } %>
  <br/>
  <div class='input-field'>
  Notes:
    <textarea id="textareaNotes" class="materialize-textarea" name='record[notes]'><%=record.notes%></textarea>
  </div>
  <br/>
  <br/>
  <button type="sumbit" name="button">Submit Changes</button>
</form>