<% include ../partials/header %>

<h3>All Records</h3>
<% for (var i = 0; i < record.length; i++){ %>
  <div class='allRecords col l4 m4 hoverable'>
  <br/>
  <b><%=record[i].tracks%></b>
  <br/>
  <img src='<%=record[i].photo%>' alt='Individual Record Photo' width='200px'/>
  <br/>
  Last Price: $<%=record[i].lastPrice%>
  <br/>
  <button class='details' data-id='<%=record[i]._id%>'>More Info</button>
  <% if (record[i].available === true && record[i].forSale === true && record[i].lastPrice !== null && record[i].lastPrice !== undefined && record[i].owner != locals.user._id) { %>
    <!-- <button class='buyButton'>Buy</button> -->
    <form action="/stripe" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_H5mtBuGe7pXXLP5sqOdEoJIc"
        data-amount= '<%=record[i].lastPrice
        *100%>'
        data-name='Records'
        data-description='<%=record[i].tracks%>'
        data-image="/128x128.png"
        data-locale="auto"
        data-shipping-address= 'true'>
      </script>
      <input style="display:none" name="productAmount" value="<%=record[i].lastPrice%>">
      <input style="display:none" name="productName" value="<%=record[i].tracks%>">
      <input style="display:none" name="productID" value="<%=record[i]._id%>">
    </form>
  <% } %>
  <br/>
  <br/>
  <div>
    <% if(record[i].owner == locals.user._id) { %>
      Admin Functions:
      <br/>
      <br/>
      <button class='details' data-id='<%=record[i]._id%>'>Edit</button>
      <% include ../partials/availableAndSaleForm %>
    <% } %>
  </div>
  </div>
<% } %>

<% include ../partials/footer %>