<% include ../partials/header %>
All Records

<% for (var i = 0; i < user.records.length; i++) { %>
  <div class = 'records'>
  <img src= <%= user.records[i].art.photo %> alt = 'Photo of Album Cover' />
  <b> <%= user.records[i].music.tracks %> </b>
  <br/>
  <b>Artists: </b>
  <%= user.records[i].artist.leadArtists %>
  <br/>
  <b>Release Date:</b>
  <%= user.records[i].physical.yearPressed %>
  <br/>
  <b>Last Price:</b>
  <%= user.records[i].lastPrice %>
  <br/>
  <br/>

  if
  <button class = 'editAnimal' data-url = "/zoos/<%= zoo.id %>/animals/<%=zoo.animals[i].id%>/edit" >Edit Animal</button>
  <br/>
  <button class = 'deleteAnimal' data-url = '/zoos/<%=zoo.id%>/animals/<%=zoo.animals[i].id%>'>Delete Animal</button>
  </div>
  <div class='seperateFence'></div>
<% } %>

<% include ../partials/footer %>